/*Note:
- No (h3) b/c tried fix 'Stay Connected' spacing under but couldnt 

To do:
- 
*/

/* for background pic */
body, html { 
    font-family: 'Raleway', sans-serif; /* Fonts */
    
    height: 100%; /* Full height */
    width: 100%; /* Full Size */

    margin: 0px; /* Space outside of something */
    padding: 0px; /* Space inside something */
    overflow-x: hidden; /* Removed prob with 'social media contact' that added white space to right of parallax scroll */
}

/* Allow for scrolling in web site with background content stationary. At top to ensure first layer of website */
.parallax {
    background-image: url("assets/bkg.jpg");
    height: 100%; /* To ensure bkg pic covers entire page */
  
/* Scrolling effect for 1st bkg */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main Menu Header */
.menu{
    position: relative; /* Change to absolute/fixed to have header stay */
    top: 0%;
    width: 100%;
    height:10%;
    text-align: left;
    color:whitesmoke;
    background-color: #333;
    padding:25px;
    border: 1px solid white;
    box-shadow: 2px 1px 20px black;
}

/* VT logo top left corner */
.logo{
    position: absolute;
    display: block;
    top: -2%;
    width: 20%; /* 'width = " changes size of picture */
    left: 0%;
    }

/* Subheading buttons on menu bar */
a.buttons{
    /* position: fixed;
    top: 0;
    z-index: 999; */

    font-size: 160%;
    color: whitesmoke;
    position: absolute;
    top: 40%; /*From top to bottom adjust size accordingly */
    left:70%;
    text-decoration: none;
}

a:hover{
    background-color: grey;
    }
    a:active{
    background-color: plum;
    }

 /* Contact us */
h1{ 
    position: relative; /* Position relative to size of window */
    text-decoration: underline overline;
    text-align: center;
    color: burlywood;
    top: 5%;
    left: 38%;
    display: inline; /* So textboxes takes up right amount of space (like word.doc) Fixed half home button working */


    /* Supposedly adjust for new window size.. Unsure if works!!! */
    max-width: 100vh; /* needed vh for this and height for button to work fullscreen as well */
    width: auto\9;
    max-height: 100vh; 

    font-size: 3.7em;   /* Font size (Diff between vw? and em?*/
}

/* For animated rotating text across screen */
h4{
    font-size: 5em;
    font-weight: 200;  /* Transparency (Boldness) */
    text-align: center;
    margin: 2em 0; /* Moves text vertically */
    color: black;
}
/* Txt under animated rotating text */
h5{
    font-size: 1em;
    text-align: center;
    margin: -10em 0;
    color: cornsilk;
}

/* Arrow on first parallax */  
.arrow{
    position: relative;
    top: 42%;
    left: 100%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* End of arrow animation */

.parallax2 {
    background-image: url("assets/background.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* To ensure parallax pic adjusts accordingly to window size */
        /* To make images flexible */
    /* height: auto;  Adjust size of bkg pic of parallax to fit with last object on pic that takes up vertical spacing at bottom */
  /* max-width: 100%; /* Image will scale down if needed, but never scale up */
  /* width: auto\9; /* Both codes above work in IE7, but not IE8 (is bug) so need this code for IE8 to fix issue */
}

/* All of VersaTech info */
.contactInfo{ 
    position: relative;
    font-size: 1vw; /* For resizing fonts accordingly to window size */
    /* Supposedly adjust for new window size.. Unsure if works!!!
    max-width: 100%;
    width: auto\9;
    height: auto;
    max-height: 99vh; */
}

 /* Stay Connected on second page */
 h3{
    position: relative;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    width: 100%;
 }

 .gmap_canvas{
    position:relative;
    left: 28%;
    top: 140%;
}

.line {
    position: relative;
    color: black;
    left: 4.5%;
    top: -39%;
} 

/* User input Box (Stay Connected) */
.forum{
    position: relative;
    color: black;
    width: 38%;
    text-align: left;
    left: 60%;
    top: -136%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; 
    padding: 12px; /* Thickness of input box */ 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Spacing at top before input box */
    margin-bottom: 20px; /* Spacing at bottom after input box */
}

.socialMedia{
    position: relative;
    top: -130%;
    left: 63%;

}



/* 'Meet the team' text */
h2{ 
    white-space: pre; /* Allows for spacing in between text */
    color: purple;
    font-size: 2vw;
}

/* VersaTech Logo and meet the team text */
.intro{   
    position: relative;
    text-align: center;
    top: 23%;
}