/*Note:
- 
To do:
- Formatting issue (resizing according to window/mobile size)
- Make social media links work? (non-existant)
- Fix (line) bc using em [Cant use % or px top for some reason]
- VersaTech subtitle on second screen doesnt show?

*/

/* for background pic */
body, html { 
    font-family: 'Raleway', sans-serif; /* Fonts */
    
    height: 100%; /* Full height */
    width: 100%; /* Full Size */

    margin: 0px; /* Space outside of something */
    padding: 0px; /* Space inside something */
    overflow-x: hidden; /* Removed prob with 'social media contact' that added white space to right of parallax scroll */
}

/* Allow for scrolling in web site with background content stationary. At top to ensure first layer of website */
.parallax {
    background-image: url("assets/bkg.jpg");
    height: 100%; /* To ensure bkg pic covers entire page */
  
/* Scrolling effect for 1st bkg */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main Menu Header */
.menu{
    position: relative; /* Change to absolute/fixed to have header stay */
    top: 0%;
    width: 100%;
    height:10%;
    text-align: left;
    color:whitesmoke;
    background-color: #333;
    padding:25px;
    border: 1px solid white;
    box-shadow: 2px 1px 20px black;
}

/* VT logo top left corner */
.logo{
    position: absolute;
    display: block;
    top: -2%;
    width: 20%; /* 'width = " changes size of picture */
    left: 0%;
    }

/* Subheading buttons on menu bar */
a.buttons{
    /* position: fixed;
    top: 0;
    z-index: 999; */

    font-size: 160%;
    color: whitesmoke;
    position: absolute;
    top: 40%; /*From top to bottom adjust size accordingly */
    left:70%;
    text-decoration: none;
}

a:hover{
    background-color: grey;
    }
    a:active{
    background-color: burlywood;
    }


 /* Contact us */
h1{ 
    position: relative; /* Position relative to size of window */
    text-decoration: underline overline;
    text-align: center;
    color: burlywood;
    top: 5%;
    left: 38%;
    display: inline; /* So textboxes takes up right amount of space (like word.doc) Fixed half home button working */


    /* Supposedly adjust for new window size.. Unsure if works!!! */
    max-width: 100vh; /* needed vh for this and height for button to work fullscreen as well */
    width: auto\9;
    max-height: 100vh; 

    font-size: 3.7em;   /* Font size (Diff between vw? and em?*/
}

/* For black outline of text of animated rotation */
.animateTitle{
    text-shadow:
    -1px -1px 0 ,
    1px -1px 0 ,
    -1px 1px 0 white,
    1px 1px 0 white;
}

/* For animated rotating text across screen */
h4{
    font-size: 5em;
    font-weight: 200;  /* Transparency (Boldness) */
    text-align: center;
    margin: 2em 0; /* Moves text vertically */
    color: black;
}
/* Txt under animated rotating text */
h5{
    font-size: 1em;
    text-align: center;
    margin: -10em 0;
    color: cornsilk;
}

/* Arrow on first parallax */  
.arrow{
    position: relative;
    top: 42%;
    left: 100%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid whitesmoke; /* Leftside */
    border-right: 5px solid cornsilk;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* End of arrow animation */

.parallax2 {
    background-image: url("assets/bkg9.jpg"); /* bkg9 none (Original: bkg2) */
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* To ensure parallax pic adjusts accordingly to window size */
        /* To make images flexible */
    /* height: auto;  Adjust size of bkg pic of parallax to fit with last object on pic that takes up vertical spacing at bottom */
  /* max-width: 100%; /* Image will scale down if needed, but never scale up */
  /* width: auto\9; /* Both codes above work in IE7, but not IE8 (is bug) so need this code for IE8 to fix issue */
}

/* All of VersaTech info */
.contactInfo{ 
    position: relative;
    font-size: 1vw; /* For resizing fonts accordingly to window size */
    /* Supposedly adjust for new window size.. Unsure if works!!!
    max-width: 100%;
    width: auto\9;
    height: auto;
    max-height: 99vh; */
}

/* Stay Connected on second page */
h3{
    position: relative;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    width: 100%;
    color: darkslategray;
 }

.gmap_canvas{
    position:relative;
    left: 28%;
    top: 140%;
}

.line {
    position: relative;
    color: black;
    left: 54.8%;
    top: -26.5em; /* 'top: -50%;" or 'px' Doesnt work??? */
    display: inline-block; /* So only takes up amount of space visible */
} 

/* User input Box (Stay Connected) */
.forum{
    position: relative;
    color: black;
    width: 38%;
    text-align: left;
    left: 60%;
    top: -135%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; 
    padding: 12px; /* Thickness of input box */ 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Spacing at top before input box */
    margin-bottom: 20px; /* Spacing at bottom after input box */
}

.socialMedia{
    position: relative;
    top: -130%;
    left: 65%;

}


.parallax3 {
    background-image: url("assets/group.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 'Meet the team' text */
h2{ 
    position: absolute; /* Need "position" in order to move object properly*/
    /* white-space: pre; Allows for spacing in between text */
    font-size: 2em;
    text-decoration: underline overline;
    top: -26.5%;
    left: 28%;
    color: cornsilk;
    display: inline;
}

/* VersaTech Logo and meet the team text */
.intro{   
    position: relative;
    text-align: center;
    top: 10%;
}

/* Profile Pictures of Group */
.profilePics{
    position: relative;
    border-radius: 50%; /* Suppose to make pics rounded but no work */
    top: 8%;
    left: 0%;
}

/* Names of Group, under profile pictures */
h6{
    position: absolute;
    /* margin: -10em 0;
    display: inline;
    text-align: center;  Doesnt work */
    font-size: 1em;
    left: 0%;
    top: 85%;  /* Doesnt work */
    color: cornsilk;
}

.Marco{
    position: absolute;
    top: -5%;
    left: 72%;
}

.Akram{
    position: relative; /*  "top: 10%;" wont work if "position: relative;" */
    top: -5%;
    left: 18%;
}

.Neal{
    position: absolute;
    top: 90%;
    left: 30%;
}

.Hamas{
    position: absolute;
    top: 100%;
    left: 45%;
}

.Ahmed{
    position: absolute;
    top: 90%;
    left: 61%;
}

/* Extra Features/Animations  */

/* Buttons for link of email/phone */
.animateLink{
    position: relative;
    top:-26%;
    left:16%;
    transform : translate(0%);
    white-space: pre;
  }
  
  .btn:link,
  .btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:20px 40px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
  }
  
  .btn-white{
    background:#fff;
    color:#000;
  }
  
  .btn:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
  }
  
  .btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2)
    transform:translateY(-1px);
  }
  
  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }
  
  .btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
  }
  
  .btn-white::after {
      background: #fff;
  }
  
  .btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }


  /*  */